body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.d1{
  background-image: url("https://i.pinimg.com/originals/9e/1b/31/9e1b3192c8c278e5b428c030cd419a26.jpg");
  background-repeat: no-repeat;
  background-size:container;
  width: 100%;

}
